{% extends 'base.html.twig' %}

{% block title %} Caise OusMarket !{% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'détails de la commande'}) }}

<div class="section">
	<div class="container">
        <div>
            <div class="order-reference">
                <div>Reference: {{ order.reference }}</div>
                <div>Date: {{ order.createdAt | date('d/m/Y') }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive shop_cart_table">
                	<table class="table">
                    	<thead>
                        	<tr>
                            	<th class="product-thumbnail">id</th>
                                <th class="product-name">Nom du Produit</th>
                                <th class="product-price">Prix</th>
                                <th class="product-quantity">Quantité</th>
                                <th class="product-subtotal">Sous-TotalHT</th>
                                <th class="product-subtotal">Taxe</th>
                                <th class="product-subtotal">Sous-TotalHT</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            {% for element in order.orderDetails %}
                            <tr>
                                
                            	<td class="product-thumbnail">{{ element.id}}</td>
                                <td class="product-name" data-title="Product"><a href="#">{{ element.productName}}</a></td>
                                <td class="product-price" data-title="Price">{{ element.productPrice }} FCFA</td>
                                <td class="product-quantity" data-title="Quantity">{{ element.quantity }} FCFA</td>
                                  <td class="product-subtotal" data-title="Total">{{ element.subTotalHT}} FCFA</td>
                                  <td class="product-subtotal" data-title="Total">{{ element.taxe}} FCFA</td>
                                  <td class="product-subtotal" data-title="Total">{{ element.subTotalTTC}} FCFA</td>
                                
                            </tr>
                            {% endfor %}
                        	
                          
                        </tbody>
                        <tfoot>
                          <tr>
                            <th class="product-thumbnail">id</th>
                            <th class="product-name">Nom du Produit</th>
                            <th class="product-price">Prix</th>
                            <th class="product-quantity">Quantité</th>
                            <th class="product-subtotal">Sous-TotalHT</th>
                            <th class="product-subtotal">Taxe</th>
                            <th class="product-subtotal">Sous-TotalHT</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
            	<div class="medium_divider"></div>
            	<div class="divider center_icon"><i class="ti-shopping-cart-full"></i></div>
            	<div class="medium_divider"></div>
            </div>
        </div>
        <div class="row">
        	  <div class="col-md-6">


            </div>
            <div class="col-md-6">
            	<div class="border p-3 p-md-4">
                    <div class="heading_s1 mb-3">
                        <h6>Totaux de la commande</h6>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="cart_total_label">Sous-total de la commande HT</td>
                                    <td class="cart_total_amount">{{ order.subTotalHT/100 }} FCFA</td>
                                </tr>
                               
                                <tr>
                                    <td class="cart_total_label">Taxe (20%) </td>
                                    <td class="cart_total_amount">{{ order.taxe/100 }} FCFA</td>
                                </tr>
                                <tr>
                                    <td class="cart_total_label">Le total TTC</td>
                                    <td class="cart_total_amount"><strong>{{ order.subTotalTTC/100  }} FCFA</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ path('account')}}" class="btn btn-fill-out">Retour au compte</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}